<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<%= form_with model: @lifting_entry, local: true do |form| %>
    
    <% if @lifting_entry.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@lifting_entry.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <ul>
          <% @lifting_entry.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%-# Entry data fields -%>

    <%= form.label "Add Images"%>
    <%= form.file_field :images %><br><br> 
   
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </p>
   
    <p>
      <%= form.label :text %><br>
      <%= form.text_area :text %>
    </p>

    <%= form.hidden_field :activity_id, value: 1 %>
    
    <%-# Exercise data fields -%>

    <table>
      <tr>
        <th>Name</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>Rep units</th>
        <th>Weight</th>
        <th>Weight Units</th>
        <th>RPE</th>
        <th>Notes</th>
      </tr>
      <tr id="exercise_row">
        <td>      
          <input type="text" name="lifting_entry[exercises][exercise_0][name]" id="lifting_entry_name">
        </td>
        <td>      
          <input type="text" name="lifting_entry[exercises][exercise_0][sets]" id="lifting_entry_sets">
        </td>
        <td>      
          <input type="text" name="lifting_entry[exercises][exercise_0][reps]" id="lifting_entry_reps">
        <td>      
          <input type="text" name="lifting_entry[exercises][exercise_0][rep_units]" id="lifting_entry_rep_units">
        </td>
        </td>
        <td>      
          <input type="text" name="lifting_entry[exercises][exercise_0][weight]" id="lifting_entry_weight">
        </td>
        <td>      
          <input type="text" name="lifting_entry[exercises][exercise_0][weight_units]" id="lifting_entry_weight_units">
        </td>
        <td>      
          <input type="text" name="lifting_entry[exercises][exercise_0][rpe]" id="lifting_entry_rpe">
        </td>
        <td>      
          <input type="text" name="lifting_entry[exercises][exercise_0][notes]" id="lifting_entry_notes">
        </td>
      </tr>
      <tr>
        <td>
          <button type="button" id="add_exercise_button">Add Exercise</button>
        </td>
      </tr>
    </table>
            
    <p>
      <%= form.submit %>
    </p>
   
  <% end %>

<script>
  var exercise_enum = 1;
  $("#add_exercise_button").click(function() {
    var cloned_row_html = $("#exercise_row").clone().html();
    cloned_row_html = '<tr id="exercise_row">' + cloned_row_html.replace(/exercise_\d/g, "exercise_" + exercise_enum.toString()) + '</tr>';
    console.log(cloned_row_html);
    $("#exercise_row").before(cloned_row_html);
    exercise_enum += 1;
  });
</script>
