<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<%= form_with model: @lifting_entry, local: true do |form| %>
    
    <% if @lifting_entry.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@lifting_entry.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <ul>
          <% @lifting_entry.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%-# Entry data fields -%>

    <%= form.label "Add Images"%>
    <%= form.file_field :images %><br><br> 
   
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </p>
   
    <p>
      <%= form.label :text %><br>
      <%= form.text_area :text %>
    </p>

    <%= form.hidden_field :activity_id, value: 1 %>
    
    <%-# Exercise data fields -%>

    <table>
      <tr>
        <th>Name</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>Rep units</th>
        <th>Weight</th>
        <th>Weight Units</th>
        <th>RPE</th>
        <th>Notes</th>
      </tr>
      <tr id="exercise_row">
        <td>      
          <label for="lifting_entry_name">Name</label>
          <input type="text" name="lifting_entry[name]" id="lifting_entry_name">
        </td>
        <td>      
          <label for="lifting_entry_sets">Sets</label>
          <input type="text" name="lifting_entry[sets]" id="lifting_entry_sets">
        </td>
        <td>      
          <label for="lifting_entry_reps">Reps</label>
          <input type="text" name="lifting_entry[reps]" id="lifting_entry_reps">
        <td>      
          <label for="lifting_entry_rep_units">Rep Units</label>
          <input type="text" name="lifting_entry[rep_units]" id="lifting_entry_rep_units">
        </td>
        </td>
        <td>      
          <label for="lifting_entry_weight">Weight</label>
          <input type="text" name="lifting_entry[weight]" id="lifting_entry_weight">
        </td>
        <td>      
          <label for="lifting_entry_weight_units">Weight Units</label>
          <input type="text" name="lifting_entry[weight_units]" id="lifting_entry_weight_units">
        </td>
        <td>      
          <label for="lifting_entry_rpe">RPE</label>
          <input type="text" name="lifting_entry[rpe]" id="lifting_entry_rpe">
        </td>
        <td>      
          <label for="lifting_entry_rpe">Notes</label>
          <input type="text" name="lifting_entry[notes]" id="lifting_entry_notes">
        </td>
      </tr>
      <tr>
        <td>
          <button type="button" id="add_exercise_button">Add Exercise</button>
        </td>
      </tr>
    </table>
            
    <p>
      <%= form.submit %>
    </p>
   
  <% end %>

<script>
  $("#add_exercise_button").click(function() {
    $("#exercise_row").clone().insertAfter($("#exercise_row"));
  });
</script>
