<%= stylesheet_link_tag "header" %>


<div class="header">
    <a href="#default" class="logo">
        Ensemble
    </a>
    <div class="header-right">
        <% if !current_user.nil? %>
            <a>
                <%= current_user.email %>
            </a>
            <%= link_to 'sign out', destroy_user_session_path, method: :delete %>
        <% else %>
            <%= link_to 'log in', new_user_session_path %>
            <%= link_to 'sign up', new_user_registration_path %>
        <% end %>
    </div>
</div>