<%= form_with(model: @running_entry, local: true) do |form| %>
  <% if @running_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@running_entry.errors.count, "error") %> prohibited this running_entry from being saved:</h2>

      <ul>
        <% @running_entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label "Add Images"%>
  <%= form.file_field :images %><br><br> 

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <%= form.label :text %><br>
  <%= form.text_area :text %>

  <%= form.hidden_field :strava_entry, value: response.body %>
  response.body

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
