<p>
  <strong>Strava activity:</strong>
  <%= @running_entry.entry.title %>
  <%= @running_entry.entry.text %>
  <%= @running_entry.strava_entry %>
</p>

<%= link_to 'Edit', edit_running_entry_path(@running_entry) %> |
<%= link_to 'Back', running_entries_path %>
