<h1>Lifting Entry</h1>
<h2>Title:</h2>
<p><%= @running_entry.entry.title %></p>
<h2>Text:</h2>
<p><%= @running_entry.entry.text %></p>
<h2>Media:</h2>
<%= debug @running_entry.entry.images[0] %>
<% if @running_entry.entry.images.attached? %>
  <% @running_entry.entry.images.each do |image| %>
    <%= image_tag image %>
  <% end %>
<% end %>
<p>
  <strong>Strava activity:</strong>
  <%= @running_entry.entry.title %>
  <%= @running_entry.entry.text %>
  <%= @running_entry.strava_entry %>
</p>

<%= link_to 'Edit', edit_running_entry_path(@running_entry) %> |
<%= link_to 'Back', running_entries_path %>
