<%= render 'shared/header' %>

<h1>My Activites!</h1>
<% if current_user.avatar.attached? %>
  <%= image_tag current_user.avatar %>
<% end %>
<br>
<br>

<%= link_to 'New activity', new_activity_path %>
<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
 
  <% Activity.all.each do |activity| %>
    <tr>
      <td><%= activity.name %></td>
      <td><%= link_to 'Show', activity_path(activity) %></td>
      <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
      <td><%= link_to 'Destroy', activity_path(activity),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
