<%= render 'shared/header' %>

<strong>
  <%= @activity.name %>
</strong>

<table>
  <tr>
    <th>Date</th>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @activity.entries.each do |entry| %>
    <tr>
      <td><%= entry.created_at %></td>
      <td><%= link_to entry.title, entryable_route_helper(entry.entryable) %></td>
      <td><%= entry.entryable %></td>
      <td><%= entry.text %></td>
      <td><%= link_to 'Show', entryable_route_helper(entry.entryable) %></td>
      <td><%= link_to 'Edit', edit_entryable_route_helper(entry.entryable) %></td>
      <td>
        <%= link_to 'Destroy', entryable_route_helper(entry.entryable),
            method: :delete,
            data: { confirm: 'Are you sure?' } 
        %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %> |
<%= link_to 'New Entry', '/entries/new/' + @activity.id.to_s %> 
